#belmanBar {
    -fx-background-color: #004b88;
    -fx-effect: dropshadow(three-pass-box, rgba(180, 180, 180, 0.8), 2, 0, 0, 4);
}

.imageView {
    -fx-background-color: #ffffff;
}

#logoPane {
    -fx-background-color: #ffffff;
}

BorderPane {
    -fx-background-color: #f2f2f2;
}


.Vbox {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(180, 180, 180, 0.8), 2, 0, 0, 4);
}

#lblCurrentUser {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: 500;
    -fx-font-family: "Segoe UI", sans-serif;
}

#lstUsers {
    -fx-background-color: #FFFFFF;
    -fx-padding: 0px;
}

#lstUsers .list-cell {
    -fx-background-color: white;
    -fx-border-color: E5E7EB;
    -fx-border-width: 1 0 1 0;
    -fx-border-insets: -1 0 -1 0;
    -fx-padding: 7;
    -fx-font-size: 18;
}

#btnLogout {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-radius: 6px;
    -fx-pref-height: 40px;
    -fx-border-width: 0;
}

#btnLogout:hover {
    -fx-background-color: rgba(0, 0, 0, 0.15);
}

#lstUsers {
    -fx-background-color: #FFFFFF;
    -fx-padding: 0px;
}

#lstUsers .list-cell {
    -fx-background-color: white;

    -fx-border-color: E5E7EB;
    -fx-border-width: 1 0 1 0;
    -fx-border-insets: -1 0 -1 0;
    -fx-padding: 7;
    -fx-font-size: 18;
}

#lstUsers .list-cell:empty {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

#lstUsers .list-cell:empty:hover {
    -fx-background-color: transparent;
}

#lstUsers .list-cell:hover {
    -fx-background-color: #EFF6FF;
    -fx-background-insets: -2 0 0 0;
}

#lstUsers .first-visible {
    -fx-background-insets: 0 0 0 0;
    -fx-border-color: E5E7EB;
    -fx-border-width: 2 0 0 0;
}

#lstUsers .list-cell:selected {
    -fx-background-color: #EFF6FF;
    -fx-text-fill: black;
}
#lstUsers:selected {
    -fx-padding: 0px;
}

#lstUsers:focused {
    -fx-border-width: 0px;
    -fx-padding: 0px;
    -fx-background-insets: 0;
}
#lstUsers .list-cell:selected .name-label {
    -fx-text-fill: black;
}

#lstUsers .list-cell:selected .role-label {
    -fx-text-fill: black;
}
#lstUsers .list-cell:selected .label {
    -fx-text-fill: black;
}

#lblOrderSelect {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: 500;
    -fx-font-family: "Segoe UI", sans-serif;
}

#btnAdmin {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-radius: 6px;
    -fx-border-width: 0;
}

#btnAdmin:hover {
    -fx-background-color: rgba(0, 0, 0, 0.15);
}


.product-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #2a2a2a;
    -fx-background-color: white;
    -fx-padding: 6px 10px;
    -fx-background-radius: 6px;
    -fx-border-color: gray;
    -fx-border-radius: 6px;
    -fx-border-width: 1px;
}

#cmbProducts {
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-background-color: #004b88;
    -fx-background-radius: 6px;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1;
}

#cmbProducts:hover {
    -fx-cursor: hand;
}

#cmbProducts .arrow-button {
    -fx-background-color: transparent;
    -fx-padding: 0 4px 0 4px;
}

#cmbProducts .arrow {
    -fx-background-color: white;
}

#cmbProducts .list-cell {
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-background-color: #004b88;
    -fx-padding: 10px 16px;
}

.combo-box .list-cell:hover {
    -fx-cursor: hand;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-pref-width: 6px;
    -fx-pref-height: 6px;
}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-color: #888;
    -fx-background-insets: 0;
    -fx-background-radius: 3px;
}

.scroll-bar:vertical .track,
.scroll-bar:horizontal .track {
    -fx-background-color: transparent;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #555;
}

.scroll-bar .thumb:pressed {
    -fx-background-color: #333;
}

#lblOrderNumber {
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

#lblQC {
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

#vboxStuff {
    -fx-background-color: #e6e6e6;
    -fx-background-radius: 6px;
}

#btnSendReport,
#btnComment {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-radius: 6px;
    -fx-border-width: 0;
}

#btnSendReport:hover ImageView,
#btnComment:hover ImageView {
    -fx-opacity: 1;
    -fx-effect: innershadow(gaussian, rgba(241, 241, 241, 0.4), 30, 0, 0, 0);
}

#btnSendReport:hover,
#btnComment:hover {
    -fx-background-color: rgba(158, 158, 158, 0.15);
}

#orderBox {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.3, 0, 4);
}

#orderLabel {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.text-field, .password-field {
    -fx-background-radius: 6;
    -fx-padding: 8;
}

#btnSearchOrder {
    -fx-background-color: #e1e1e1;
    -fx-border-color: transparent;
    -fx-background-radius: 6;
    -fx-padding: 8;
    -fx-cursor: hand;
}

#btnSearchOrder:hover {
    -fx-background-color: rgba(218, 218, 218, 0.4);
}

#lblSentStatus {
    -fx-font-size: 18px;
    -fx-text-fill: black;
}
