#loginBox {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.3, 0, 4);
}

#loginLabel {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.text-field, .password-field {
    -fx-background-radius: 6;
    -fx-padding: 8;
    -fx-border-radius: 6;
    -fx-border-width: 2;
    -fx-border-color: transparent;
}

#btnLogin {
    -fx-background-color: #2a73ff;
    -fx-text-fill: white;
    -fx-background-radius: 6;
    -fx-padding: 8 20;
    -fx-cursor: hand;
}

#btnLogin:hover {
    -fx-background-color: #005da6;
}

.text-field.error, .password-field.error {
    -fx-border-color: #ff0000;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}